body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calculator-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    width: 350px;
}
.label-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    font-size: 10pt;
}
.date-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 6px;
    padding: 6px;
    width: 96%;
    position: relative;
}
.date-input{
    border: none;
    width: 90%;
}
.calendar-button{
    background-color: transparent;
    border: none;
}
.calendar{
    position: absolute;
    top:100%;
    left:0;
    width: 94%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
    padding:10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.1);
    z-index:1000;
}
.year-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.year-month-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.month-selector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calendar table{
    width: 100%;
    border-collapse: collapse;
}
.calendar th{
    background: #007bff;
    color:white;
}
.calendar td:hover{
    background: #f0f0f0;
}
.calendar .current-date{
    background: #007bff;
    color:white;
    border-radius: 50%;
}
.calculate-button{
    width: 100%;
    background-color: black;
    color:white;
    border: none;
    border-radius: 6px;
    font-size: 11pt;
    padding: 8px;
}
.answer-wrapper{
    font-size: 14pt;
}