body{
    font-family:Arial, Helvetica, sans-serif;    
}
.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calculator-wrapper{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.form-calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap:10px;
}
.label-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.date-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 6px;
    padding: 6px;
    position: relative;
}
.date-input{
    border: none;
}
.calendar-button{
    background-color: transparent;
    border: none;
}
.calendar{
    position: absolute;
    top:100%;
    left:0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.1);
    z-index:1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6px 0;
    gap:0.5em;
}
.month-year-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0.5em 0;
}
.month-year-button{
    padding: 0.25em 0.25em;
    text-transform: capitalize;
}
.month-year-button:hover{
    cursor: pointer;
    background-color: black;
    color:white;
}
.menu-button{
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 12pt;
}
.menu-button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.calendar-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.calendar-week-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
}
.calendar-week-days{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10pt;
    width: 14.30%;
    padding: 0.25em 0;
    color: white;
}

.calendar-table-rows{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.calendar-month-days{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 14.30%;
    padding: 0.25em 0;
    font-size: 10pt;
    border: 1px solid black;
}
.calendar-month-days:hover{
    background-color: black;
    color:white;
    cursor: pointer;
}
.months-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
    width: 100%;
    padding: 0 0.5em;
}
.month-rows{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.month{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    width: 25%;
    padding: 0.5em 0;
}
.month:hover{
    background-color: black;
    cursor: pointer;
    color:white;
}
.years-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.calculate-button{
    background-color: black;
    color:white;
    border: none;
    border-radius: 6px;
    font-size: 11pt;
    padding: 8px;
    width: 100%;
}
.answer-wrapper{
    font-size: 11pt;
}